* body,
html {
   margin: 0;
   overflow-x: hidden;
   width: 100%;
   height: 100%;
   background-color: #edf2f4;
} 
body {
	background: linear-gradient(-45deg, #ffffff, #00bbff,#000000);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo-animacao2{
    text-shadow: 0px 0px 50px #00bbff;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #00bbff;
    transition:1s;
    
}
.logo-animacao{
    text-shadow: 0px 0px 10px #00bbff;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #00bbff;;
    transition:1s;
}

.card {
    background: white;
    box-shadow: 3px 3px 2px black;
    border: 10px solid black ;
    border-radius:7px;
    color: black;
    opacity: 0.9;
}
 .card span{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    line-height: 4rem;
    font-size: 4rem;
    padding: 2rem;
    padding-bottom: 0.7rem;
    
    
}
.card label{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    
    font-size: 1.5rem;
    padding-bottom: 0;
    padding-bottom: 0.7rem;
    text-shadow: 0px 0px 1px black;
}
.card input{
    border: 1.5px solid;
    box-shadow: 0px 0px 2px black;
}
#labelCheckBox{
    font-size: 0.9rem;
    
}
#cb{
    width: 1rem;
    height: 1rem;
    color:black;
    background-color:black;
    
}
#cb:checked{
    color:black;
    background-color:black;
    
}
.card button,.card button:focus{
    font-family: 'Oswald', sans-serif;
    background-color: black;
    border: none;
    color: #fffaff;
    box-shadow: 0px 0px 5px 0px black;
}
.card button:hover{
    background-color: #303036;
    border: none;
    color: #fffaff;
    transform: scale(1.1);
}